{% extends "base.html" %}
{% block content %}
<h2>Agregar Profesor</h2>
<form method="POST">
  <div class="mb-3">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Apellido</label>
        <input type="text" name="apellido" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Dni</label>
        <input type="number" name="dni" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="number" name="email" class="form-control">
    </div>
    <div class="mb-3">
        <label>Teléfono</label>
        <input type="number" name="telefono" class="form-control">
    </div>
  <button type="submit">Guardar</button>
</form>
{% endblock %}