{% extends "base.html" %}

{% block title %}Editar Profesor{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Editar Profesor</h2>

   <form method="POST">
	<div class="mb-3">
    	  <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" name="nombre" value="{{ profesor.nombre }}" required>
        </div>
        <div class="mb-3">
    	  <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" name="apellido" value="{{ profesor.apellido }}" required>
        </div>
	<div class="mb-3">
          <label for="dni" class="form-label">Dni</label>
          <input type="text" class="form-control" name="dni" value="{{ profesor.dni }}">
        </div>
        <div class="mb-3">
         <label for="email" class="form-label">Email</label>
         <input type="email" class="form-control" name="email" value="{{ profesor.email }}" >
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Teléfono</label>
          <input type="text" class="form-control" name="telefono" value="{{ profesor.telefono }}">
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a href="{{ url_for('professors.lista_profesores') }}" class="btn btn-secondary">Cancelar</a>
        

        
    </form>
</div>
{% endblock %}










  
  
