{% extends "base.html" %}
{% block content %}
<h2>Agregar Grupo</h2>
<form method="POST">
    <div class="mb-3">
        <label>Nombre del grupo</label>
        <input type="text" name="nombre" class="form-control" required><br>
    </div>
    <div class="mb-3">
        <label> Profesor</label>
        <select name="profesores" class="form-control" required>
         {% for p in profesores %}
           <option value="{{ p._id }}">{{ p.nombre }} {{ p.apellido }}</option>
         {% endfor %}
        </select><br>
    </div>
    <div class="mb-3">
        <label>Horario</label>
        <input type="text" name="horario" class="form-control" required><br>
    </div>
    <div class="mb-3">
        <label>Sede</label>
        <select name="sede" class="form-control" required>
         {% for s in sedes %}
           <option value="{{ s._id }}">{{ s.direccion }} </option>
         {% endfor %}
        </select><br>
    </div>

    <div class="mb-3">
        <label>Alumnas</label>
        <select name="alumnas" multiple class="form-control" required>
         {% for a in alumnas %}
           <option value="{{ a._id }}">{{ a.first_name }} {{ a.last_name }}</option>
         {% endfor %}
        </select><br>
    </div>
 

  


  <button type="submit"class="btn btn-primary">Guardar</button>
</form>
{% endblock %}
